<!DOCTYPE html>
<html>
<head>
<center>
    <h1>TOP 10 CERVEJA MAIS FODA</h1>
    <p>Lista completa das 10 cerveja mais foda.</p>
</head>
</body>
<center>
<h1>10.Antarctica sub-zero</h1>
<a href="https://www.ambev.com.br/marcas/cervejas/antarctica/antarctica-sub-zero"><img src="https://giassi.vtexassets.com/arquivos/ids/579409/Cerveja-Pilsen-Antarctica-Subzero-Lata-350ml.png?v=638137338481500000" width="300" height="300"></a>
</body>
<center>
    <h1>9.Skol</h1>
    <a href="https://www.ambev.com.br/marcas/cervejas/skol/skol-pilsen"><img src="https://t00987.vtexassets.com/arquivos/ids/158643/Frente.jpg?v=637732849027230000" width="300" height="300"></a>
</body>
<center>
    <h1>8.Itaipava</h1>
    <a href="https://www.cervejaitaipava.com.br"><img src="https://coopsp.vtexassets.com/arquivos/ids/232347/Novo-Projeto--4-.jpg?v=638194068422330000" width="300" height="300"></a>
</body>
<center>
    <h1>7.Bohemia puro malte</h1>
    <a href="https://www.ambev.com.br/marcas/cervejas/bohemia-puro-malte"><img src="https://ibassets.com.br/ib.item.image.big/b-718d6328cb404d0f87bed7c766f4fecb.png" width="300" height="300"></a>
</body>
<center>
    <h1>6.Antarctica original</h1>
    <a href="https://www.ambev.com.br/marcas/cervejas/antarctica-original"><img src="https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/beirario/media/uploads/produtos/foto/b69459b0bfd9afile.png" width="300" height="300"></a>
</body>
<center>
    <h1>5.Brahma chopp</h1>
    <a href="https://www.ambev.com.br/marcas/cervejas/brahma/brahma-chopp"><img src="https://bretas.vtexassets.com/arquivos/ids/159146/63360d0d539bb53eff7623b4.png?v=638000834864200000" width="300" height="300"></a>
</body>
<center>
    <h1>4.Devassa</h1>
    <a href="https://www.devassa.com.br"><img src="https://ibassets.com.br/ib.item.image.big/b-787d8a434ce4410ea37c44f9a649c994.jpeg" width="300" height="300"></a>
</body>
<center>
    <h1>3.Colorado</h1>
    <a href="https://www.cervejariacolorado.com.br"><img src="https://t00987.vtexassets.com/arquivos/ids/161951/Frente.jpg?v=638052880222800000" width="300" height="300"></a>    
</body>
<center>
    <h1>2.Budweiser</h1>
    <a href="https://www.ambev.com.br/marcas/cervejas/budweiser/budweiser"><img src="https://scfoods.fbitsstatic.net/img/p/cerveja-budweiser-269ml-72067/258716.jpg?w=800&h=800&v=no-change&qs=ignore" width="300" height="300"></a>
</body>
<center>
    <h1>1.Lokal</h1>
    <a href="https://www.grupopetropolis.com.br/marcas/cervejas/lokal/?age-verified=b032045fc4"><img src="https://bomdebeer.vtexassets.com/arquivos/ids/156996/Cerveja-Lokal-Pilsen--350ml-7898377660032_1.png?v=637735374093600000" width="300" height="300"></a>
    <!DOCTYPE html>
    <html>
    <head>
    <h1>Lista feita baseada na opnião do super boy</h1>
</html>